extends ../layout/main

block variables
	- var title = 'IDEA - Элементы'

block content
	// Top banner
	include ../section/top-banner
	// / Top banner
	// Company
	include ../section/company
	// / Company
	// Advantage
	include ../section/advantage
	// / Advantage
	// Project
	include ../section/project
	// / Project