// ХЕЛПЕРЫ
@import 'base/fonts.styl'
@import 'base/vars.styl'
@import 'base/mixins.styl'
@import '../../../node_modules/retinajs/dist/retina.styl'


// Общие стили
@import 'base/settings.styl'
@import 'base/general.styl'

// Компоненты
@import "common/common.styl"

// Секции

/* Стили секции header */
@import 'section/header.styl'
/* Стили секции header */

/* Стили секции top-banner */
@import 'section/top-banner.styl'
/* Стили секции top-banner */

/* Стили секции company */
@import 'section/company.styl'
/* Стили секции company */

/* Стили секции advantage */
@import 'section/advantage.styl'
/* Стили секции advantage */

/* Стили секции project */
@import 'section/project.styl'
/* Стили секции project */

/* Стили секции footer */
@import 'section/footer.styl'
/* Стили секции footer */