// ОБЩИЕ СТИЛИ

.container 
	width 100%
	max-width 1366px
	padding 0 18px
	margin 0 auto
	position relative

.title
	font-size 27px
	font-weight 700
	line-height 27px

// футер к низу

body 
	display flex
	flex-direction column


.main 
	flex auto
