.nav-pages__list
	display flex

.nav-pages__item
	&:first-child
		.nav-pages__link
			letter-spacing 0.16px
			border-left none

.nav-pages__link
	color: white
	font-weight 700
	padding 0px 15px
	display block
	border-left 1px solid white
	transition all .2s
	&:hover
		color darken(white, 20%)