.advantage
	margin-bottom 12px

.advantage__title
	display block
	padding 26px 0 68px 47px
	border-left 3px solid golden-color
	margin-bottom 20px

.advantage__list
	display flex
	align-items center
	justify-content space-between
	flex-wrap wrap

.advantage__item
	width 100%
	max-width 333px
	margin-bottom 83px
	display flex
	&:last-child
		display block
		text-align center
		.advantage__text
			span
				display block

.advantage__icon
	margin-right 28px

.advantage__info
	padding-top 22px
	max-width 202px

.advantage__name
	font-weight 700
	line-height 20px
	display block
	max-width 103px
	margin-bottom 15px

.advantage__btn
	margin 0 auto 20px
	padding 12px 34px 11px
	font-size 14px