.contact
	margin-bottom 112px

.contact__wrap
	display flex
	margin-left 112px
	margin-right 31px

.contact__block
	background bg-gray-color
	width 100%
	max-width 805px
	margin-top 75px
	margin-right 28px
	padding 19px 20px 14px 38px
	position relative

.contact__line
	position absolute
	right 18px
	bottom 24px
	height 328px

.contact__tag
	background golden-color
	max-width 678px
	margin-left -51px
	margin-bottom 57px
	display flex
	align-items center
	padding 14px 88px 11px 47px
	span
		font-weight 700
		text-transform uppercase
		color white
		display block
		margin-right 27px
		&:last-child
			margin-right 0

.contact__title
	padding-top 26px
	margin-bottom 204px
	padding-left 3px

.contact__link,
.contact__mail,
.contact__address
	font-size 21px
	font-weight 700
	line-height 27px
	display block