.individual
	margin-bottom 105px

.individual__wrap
	display flex

.individual__img
	margin-top 92px
	margin-right 31px
	width 100%
	max-width 787px

.individual__info
	position relative

.individual__line
	position absolute
	top 0
	left 0
	height 810px

.individual__title
	padding-top 33px
	padding-left 51px
	margin-bottom 151px

.individual__icon
	padding-left 43px
	margin-bottom 43px

.individual__text
	padding-left 81px
	margin-bottom 92px
	font-size 21px
	font-weight 700
	line-height 27px
	max-width 365px

.individual__btn
	margin-left 60px
	padding 13px 48px 10px 49px