section.top-banner
	.container
		h2.top-banner__title= content.topbanner.title
		p.top-banner__text= content.topbanner.text
		.top-banner__action
			a.top-banner__btn.top-banner__phone(href=content.general.phone.link)= content.general.phone.text
			button.top-banner__btn.top-banner__call(type="button")= content.general.btn